*.class

# Package Files #
#*.jar # Liberando para as libs
*.war
*.ear

# Statistics and input files #
*.csv

# resources folder
res/*

# Log files
*.out

# Backup test files
*.bak

# System files
.directory